.rowcolor {
	/*background-image: url("G:/CDP/perso/cv_foundation_06-2014/img/1500x500.jpg");*/
	background-image: url("../img/1500x500.jpg");
	background-attachment:fixed;
	width: 100%;
	/*max-width: initial;*/
	height:200px;
	margin-bottom: 0px;
}

img {
	
}

.rightside {
    position: absolute;
    right: 0px;
}

li {
 padding-bottom: 10px;
    line-height:normal;
}

@font-face {
font-family: 'KGSummerSunshineBlackout';
src: url('fonts/KGSummerSunshineBlackout.ttf') format('truetype');
}

@font-face {
font-family: 'KGSummerSunshineShadow';
src: url('fonts/KGSummerSunshineShadow.ttf') format('truetype');
}

@font-face {
font-family: 'ArcadeFuture';
src: url('fonts/Arcade Future.otf') format('truetype');
}

img.grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

img.grayscale:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}


#containerdate { 
	height:80px;
}

.grandTitreDeSection {
	/*
  padding: 0;
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5rem; 
  margin-left: auto;
  margin-right: auto;
  bottom: 0;*/
  height:200px;
  position: relative;
}

.grandTitreDeSection p {
	position: absolute;
	bottom: 0px;
		/*display: block;*/
		font-family: Helvetica, sans-serif;
		font-size: 1.775rem;
		color: white;

	}

.date {
	width: 40px; height: 30px;
	background: #fcfcfc; 
	background: linear-gradient(top, #fcfcfc 0%,#dad8d8 100%); 
	background: -moz-linear-gradient(top, #fcfcfc 0%, #dad8d8 100%); 
	background: -webkit-linear-gradient(top, #fcfcfc 0%,#dad8d8 100%); 
	border: 1px solid #d2d2d2;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}
	.date p {
		font-family: Helvetica, sans-serif;
		font-size: 0.775rem; text-align: center; color: #9e9e9e; 
	}
	
	.date p span {
		background: #d10000; 
		background: linear-gradient(top, #d10000 0%, #7a0909 100%);
		background: -moz-linear-gradient(top, #d10000 0%, #7a0909 100%);
		background: -webkit-linear-gradient(top, #d10000 0%, #7a0909 100%);
		font-size: 0.775rem; font-weight: bold; color: #fff; text-transform: uppercase; 	
		display: block;
		border-top: 3px solid #a13838;
		border-radius: 0 0 5px 5px;
		-moz-border-radius: 0 0 5px 5px;
		-webkit-border-radius: 0 0 5px 5px;
		padding: 6px 0 6px 0;
	}

@-moz-document url-prefix() {
    .date {
        padding: 16px 0 0 0;
    }
    .date p span {
    	padding: 9px 0 3px 0;
    }
}
